*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family:--Poppins-Black ;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: --Roboto-Light;
  src: url(fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: --Roboto-Medium;
  src: url(fonts/Roboto-Medium.ttf);
}


/*utilites*/

/*
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}*/
body{
  background: #212121;
  position: relative;
}
section{
  position: relative;
  padding: 50px 10px;
}
:root{
  --Poppins-Black:--Poppins-Black;
  --Roboto-Light:--Roboto-Light;
  --Roboto-Medium:--Roboto-Medium;
  --white:#fff;
  --black:#000;
  --bg_color:#212121;
}
.container{
  width: 1200px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}
p{
  font-family: var(--Roboto-Light);
  color: #d1d1d1;
  font-weight: 300;
  line-height: 1.5;
  font-size: .8rem;
}
.button{
  margin-top: 1.5rem;
}
.btn{
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  padding: .8rem 2rem;
  color: #fff;
  border-radius: 3rem;
  cursor: pointer;
  font-family: var(--Roboto-Light);
  font-weight: 600;
  transition: .5s ease-in;
}
.btn:hover{
  background: #e14700
}
/*end utilites*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #212121;
  transition: .2s ease-in;
  padding: 1rem 10px;
  z-index: 10000;
}
.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container h2{
  font-size: 1.5rem;
  font-family: var(--Poppins-Black);
  font-weight: 600;
  color: #fff;
  color: var(--white);
}
.header .container h2 span{
  color: #e14700;
}
.header .container .navbar .nav{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.header .container .navbar .nav li a{
  color: #fff;
  color: var(--white);
  font-family: var(--Roboto-Light);
  font-weight: 600;
  transition: .2s ease-in;
}
.header .container .navbar .nav li a.active,
.header .container .navbar .nav li a:hover{
  color: #e14700;
}
.menuImg{
  padding: 1rem 1rem;
  background: url(img/menu_30px.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .2s ease-in;
  position: relative;
  border-radius: .2rem;
  background-color: #1d1d1d;
  display: none;
}
.closeImg{
  padding: 1rem 1rem;
  background-color: #313131;
  background: url(img/multiply_30px.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .2s ease-in;
  position: relative;
  border-radius: .2rem;
}
/*

.menuImg::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s ease-in;
  animation: borderScale 2s ease-in infinite;
  transform: translate(-50%, -50%);

}
@keyframes borderScale{
  0%{
    transform: scale(.1.013);
  border: 2px solid #fff;

  }
  100%{
    transform: scale(0);
  border: 3px solid #fff;


  }
}*/
/*end header*/

/*home style*/
.home{
  min-height: 100vh;
  width: 100%;
  background: #212121;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  perspective: 400px;
}
.home::before{
  position: absolute;
  content: "";
  color: yellowgreen;
  font-size: 25rem;
  top: 50%;
  left: 55%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: var(--Poppins-Black);
  font-weight: 600;
  text-shadow: 0 .3rem 4rem  rgba(100, 100, 100, 0.45);
  z-index: 2;
  background: #e14700;
  clip-path: polygon(540% 0, 330% 5%, 50% 0, 0% 750%);
}
.home .container{
  z-index: 2;
}
.home .container .container_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.home .container .container_box h2{
  font-size: 2.5rem;
  font-family: var(--Roboto-Medium);
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #fff;
  color: var(--white);
 
}
.home .container .container_box .content{
  width: 400px;
  max-width: 100%;
  align-self: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .container .container_box .imgBox {
  flex: 1 1 45rem;
  z-index: -1;
  position: relative;
}
.home .container .container_box .imgBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: translateImage 5s ease-in-out infinite;
}
@keyframes translateImage {
  0%{
    transform: translateY(-5%);
  }
  100%{
    transform: translateY(0);
  }
}

/*end home style*/

/*about style*/
.about .container .container_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  position: relative;
}
.about .container .container_box .content{
  flex: 1 1 35rem;
  background-color: #1c1c1c;
  border-radius: 3rem;
  padding: 2rem 2rem;
}
.about .container .container_box .content h2{
  color: #fff;
  font-family: var(--Roboto-Medium);
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.about .container .container_box .imgBox{
  flex: 1 1 35rem;
  display: grid;
  grid-template-columns: repeat(16, minmax(10px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
}
.about .container .container_box .imgBox .box img{
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  object-fit: cover;
}
.about .container .container_box .imgBox .box:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 3rem;
}
.about .container .container_box .imgBox .box:nth-child(2){
  grid-column-start: 6;
  grid-column-end: 17;
  grid-row-start: 2;
  grid-row-end: 7;
  border-radius: 3rem;
}

/*end about style*/

/*menu style*/
.menu .container .title{
  text-align: center;
  margin-bottom: 2rem;
}
.menu .container .title h2{
  color: #fff;
  font-size: 2rem;
  font-family: var(--Roboto-Medium);
  font-weight: 500;
}

.menu .container .container_box{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 1.5rem;
flex-wrap: wrap;
position: relative;

}
.menu .container .container_box .box{
  flex: 1 1 20rem;
  align-self: normal;
  transition: .2s ease-in;
  border-radius: 3rem;
  background: #1c1c1c;
}
.menu .container .container_box .box:hover{
  box-shadow: 0 .1rem 1rem rgba(0,0,0,0.3);
}

.menu .container .container_box .box:hover img{
transform: scale(1.4) rotate(-10deg);
}

.menu .container .container_box .box .imgBox{
width: 100%;
height: 250px;
border-radius: 3rem;
overflow: hidden;
}
.menu .container .container_box .box .imgBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease-in;
}
.menu .container .container_box .box .text{
  padding: 2rem 2rem;

}
.menu .container .container_box .box .text .details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .container .container_box .box .text .details h3{
  color: #fff;
  font-family: var(--Roboto-Medium);
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 100;
}
.menu .container .container_box .box .text .details span{
  color: #e14700;
  font-size: 1rem;
  font-family: var(--Roboto-Medium);

}
/*end menu*/

/*blog style*/
.blog .container .title{
  margin-bottom: 2rem;
  text-align: center;
}
.blog .container .title h2{
  color: #fff;
  font-size: 2rem;
  font-family: var(--Roboto-Medium);
  font-weight: 500;
  padding-bottom: 1rem;
}
.blog .container .container_box{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.blog .container .container_box .box{
  flex: 1 1 35rem;
  align-self: normal;
  border-radius: 3rem;
  position: relative;
  background: #1c1c1c;
  z-index: 0;
  overflow: hidden;
}
.blog .container .container_box .box .imgBox{
  width: 100%;
  border-radius: 3rem;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.blog .container .container_box .box:hover .imgBox img{
transform: scale(1.4) rotate(-10deg);
}
.blog .container .container_box .box .imgBox img{
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  object-fit: cover;
  transition: .5s ease-in;
}
.blog .container .container_box .box .imgBox span{
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  background: #e14700;
  color: #fff;
  font-family: var(--Roboto-Medium);
  font-weight: 300;
  padding: .5rem 2rem;
  border-radius: .5rem;
}
.blog .container .container_box .box .text{
  padding: 1rem 2rem;
  background: #1c1c1c;
  overflow: hidden;
  width: 100%;
}
.blog .container .container_box .box .text h3{
  color: #fff;
  font-family: var(--Roboto-Medium);
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 100;
}

/*end blog*/

/*review style*/
.reviews .container .title{
  margin-bottom: 2rem;
  text-align: center;
}
.reviews .container .title h2{
  color: #fff;
  font-size: 2rem;
  font-family: var(--Roboto-Medium);
  font-weight: 500;
}

.reviews .container .container_box{
  display: grid;
  grid-template-columns: repeat(12, minmax(10px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  gap: 1.5rem;
}
.reviews .container .container_box .box:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.reviews .container .container_box .box:nth-child(2){
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
}
.reviews .container .container_box .box:nth-child(3){
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
}
.reviews .container .container_box .box .text{
  background: #1c1c1c;
  width: 100%;
  padding: 2rem 2rem;
  position: relative;
}
.reviews .container .container_box .box .imgbox{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.reviews .container .container_box .box .imgbox .reviewImg{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.reviews .container .container_box .box .imgbox .details h3{
color: #fff;
font-family: var(--Roboto-Light);
font-size: .8rem;
letter-spacing: 1.2px;
}
.reviews .container .container_box .box .imgbox .details .stars{
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-top: .5rem;
}
.reviews .container .container_box .box  .pointer {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #1c1c1c;
  margin: 0 0 0 60px;
}
.reviews .container .container_box .box .text:before,
.reviews .container .container_box .box .text:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #e14700;
  font-style: normal;
}
.reviews .container .container_box .box .text:before {
  top: 0;
  left: 10px;
}

.reviews .container .container_box .box .text:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}
/*end reviews style*/

/*contact section*/
.contact .container .container_box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.contact .container .container_box .contactForm{
  flex: 1 1 35rem;
  align-self: normal;
}
.contact .container .title h2{
  color: #fff;
  font-size: 2rem;
  font-family: var(--Roboto-Medium);
  font-weight: 500;
  padding-bottom: .5rem;
}
.contact .container .title p{
  padding-bottom: 1.5rem;
}
.contact .container .container_box .contactForm .form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact .container .container_box .contactForm .form .textbox{
  padding: 1rem 1rem;
  outline: none;
  border: 2px solid #1d1d1d;
  border-radius: 3rem;
  background: #1c1c1c;
  font-size: .8rem;
  font-family: var(--Roboto-Light);
  color: #fff;
  transition: .5s ease-in;
}
.contact .container .container_box .contactForm .form .textbox:hover,
.contact .container .container_box .contactForm .form .textbox:focus{
  border-color: #e14700;
}

.contact .container .container_box .contactForm .form .message{
  height: 120px;
  resize: none;
  border-radius: 1rem;
}
.contact .container .container_box .contactForm .form .button{
  margin-top: .5rem;
}
.contact .container .container_box .imgbox{
  flex: 1 1 35rem;
  overflow: hidden;
  border-radius: 3rem;
  align-self: normal;
}
.contact .container .container_box .imgbox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
  overflow: hidden;
  transition: .5s ease-in-out;
}
.contact .container .container_box .imgbox:hover img{
  transform: scale(1.4) rotate(-10deg);
}
/*end contact*/

/*copyright*/
.copyright{
  padding: 0 10px;
}
.copyright .container{
  border-top: 1px solid  #d1d1d1;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright .container h6{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: .3rem;
  font-size: .8rem;
  font-family: var(--Roboto-Medium);
  color: #d1d1d1;
  font-weight: 300;
}
.copyright .container h6 span{
  color: #e14700;
}
.copyright .container .sci{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.copyright .container .sci li img{
  padding: .8rem .8rem;
  border-radius: 50%;
  background: #1d1d1d;
  cursor: pointer;
  transition: .5s ease-in;
}
.copyright .container .sci li img:hover{
  background: #e14700;
}

/*end copyright*/

/*call to action*/
.action .container{
  padding: 7rem 10px;
  background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.23)), url(img/recipe_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  position: relative;
  border-radius: 3rem;
}
.action .container h2{
  color: #fff;
  font-size: 3rem;
  font-family: var(--Roboto-Medium);
  font-weight: 600;
}

/*end call to action*/
/*scrollUp */
.goUp{
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  box-shadow: 0 .1rem 1rem rgba(248, 248, 248, 0.1);
  padding: 1rem 1rem;
  transition: .5s ease-in;
  cursor: pointer;
  border-radius: .4rem;
  outline: none;
  border: none;
  background: url(img/double_up_30px.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  display: none;
}
/*end scrollUp*/


/*Small devices*/
@media screen and (max-width:992px) {
  .header .container .navbar{
    position: absolute;
    top: 3rem;
    right: 0;
    width: 0%;
    background: #e14700;
    padding: 2rem 2rem;
    transition: .2s ease-in;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: .90;
  }
  .header .container .navbar.active{
    width:100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .container .navbar .nav{
    flex-direction:  column;
    gap: 0;
  }
  .header .container .navbar .nav li{
    width: 100%;
  }
  .header .container .navbar .nav li a{
    display: block;
    padding: 1rem 1rem;
    transition: .5s ease-in;
  }
  .header .container .navbar .nav li a:hover,
  .header .container .navbar .nav li a.active{
    background: var(--white);
  }

  .action .container h2{
    color: #fff;
    font-size: 2rem;
  }

  .menuImg{
    display: initial;
  }
  .home .container .container_box {
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
}

.reviews .container .container_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(1, minmax(100px, 1fr));
}
.reviews .container .container_box .box {
  grid-column: unset !important;
  grid-row: unset !important;
}
.contact .container .container_box {
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.contact .container .container_box .contactForm {
  flex: 1 1 3rem;
  align-self: normal;
}
.contact .container .title h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.contact .container .title p {
  text-align: center;
}
}

@media screen and (max-width:600px) {
.home .container .container_box h2 {
  font-size: 2rem;
}
.reviews .container .container_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-template-rows: repeat(1, minmax(100px, 1fr));
}
.copyright .container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}

.copyright .container h6 {
  justify-content: center;
}
.about .container .container_box .imgBox {
  flex: 1 1 35rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}
.about .container .container_box .imgBox .box:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 12;
}
.contact .container .container_box .imgbox {
  flex: 1 1 20rem;
}
.contact .container .title h2 {
  color: #fff;
  font-size: 1.5rem;
}
.blog .container .title h2 {
  color: #fff;
  font-size: 1.5rem;
}
.reviews .container .title h2 {
  color: #fff;
  font-size: 1.5rem;
}
.about .container .container_box .content h2 {
  font-size: 1.5rem;
}
.menu .container .title h2 {
  color: #fff;
  font-size: 1.5rem;
}
.contact .container .container_box .contactForm .form .button {
  margin-top: 0.5rem;
  text-align: center;
}
.action .container h2{
  color: #fff;
  font-size: 1.5rem;
}
}
  @media screen and (max-width:400px) {
    .home .container .container_box h2 {
      font-size: 1.5rem;
  }
 
  .about .container .container_box .content {
    text-align: center;
  }
  }
